	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/07/2020 19:31
  	*/

	@font-face {
		font-family: "Flaticon";
		src: url("./Flaticon.eot");
		src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
			url("./Flaticon.woff2") format("woff2"),
			url("./Flaticon.woff") format("woff"),
			url("./Flaticon.ttf") format("truetype"),
			url("./Flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
			font-family: "Flaticon";
			src: url("./Flaticon.svg#Flaticon") format("svg");
		}
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
		font-family: Flaticon;
		font-style: normal;
	}

	.flaticon-yoga-mat:before {
		content: "\f100";
	}

	.flaticon-jumping-rope-silhouette:before {
		content: "\f101";
	}

	.flaticon-boxing-fighter:before {
		content: "\f102";
	}

	.flaticon-gymnast:before {
		content: "\f103";
	}

	.flaticon-man-at-bar:before {
		content: "\f104";
	}

	.flaticon-weight-lifting:before {
		content: "\f105";
	}

	.flaticon-exercise:before {
		content: "\f106";
	}

	.flaticon-yoga:before {
		content: "\f107";
	}

	.flaticon-stretching-exercises:before {
		content: "\f108";
	}

	.flaticon-dumbbell-lifter:before {
		content: "\f109";
	}
